{% extends 'base.html' %}

{% load static %}

{% block context %}
    <h3> {{ question.question_text}}</h3>
    <form method="POST">
        {% csrf_token %}
        {% for ans in answers %}
            <input type="radio" name='choice' value="{{ ans.id }}" class='movie'>{{ ans.choice_text}}<br>
        {% endfor %}
        <div>
            <button type="submit"  class="button">Submit</button>
        </div>
        
    </form>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}