{% extends 'base.html' %}

{% load static %}

{% block context %}
    <div class="question">
        <h3> {{ question.question_text}}</h3>
    </div>
    {% if answers %}
    
        <form method="POST" >
            {% if error %}
                <div class="error">
                    <p>{{error}}</p>
                </div>
            {% endif %}
            {% csrf_token %}
            {% for ans in answers %}
                <div class="movie">
                    <input type="radio" name='choice' value="{{ ans.id }}">
                    <p>{{ ans.choice_text}}</p>
                </div>
            {% endfor %}
            <div class="submit">
                <button type="submit"  > Submit </button>
            </div>
            
        </form>
    {% else %}
    
        <div class='available'>
            <p>No available option</p>
            <a href="{% url 'polls:index' %}">Go back</a>
        </div>

    {% endif%}
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}