{% extends 'base.html' %}

{% load static %}

{% block context %}
    <div class="header">
    {% if not questions %}
        <h3> Don't have any available question</h3>
    {% else %}
        <h3> List of Questions </h3>
        <ul>
            
            {% for q in questions %}
            <div class='question'>
                <li>
                    <a href="{% url 'detail' q.id %}"> {{ q.question_text }}</a>
                </li>
                
            </div>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    
    
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}