#option { 
    width: 20px;
    height:20px;
}

.error h3 {
    color: red;
    /* margin: auto; */
    margin-left: 50px;
    
}

.question h3 {
    margin-left: 20px;
    font-size: 30px;
}

.submit button {
    margin-top: 20px;
    padding: 5px 5px 5px 5px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 40px;
    background:  #10284e;
    color: #fff;
    border-radius: 8px;
}

.submit input:hover, .available a:hover {
    background: #30caa0;
}

.submit input {
    padding: 8px 20px 8px 20px;
    margin-left: 43%;
    font-size: 25px;
    background: #10284e;
    border-radius: 12px;
    color: #fff;
}

.movie {
    margin-left: 20%;
}

.movie label,.movie input { 
    display: inline-block;
    vertical-align:middle;
    font-size: 22px;
}

.available {
    margin-left: 30px;
    font-weight: bold;
}

.available p {
    color: red;
}

.available a {
    border-radius: 5px;
    color: #fff;
    padding: .5em;
    text-decoration: none;
    background:  #10284e;
}